@font-face {font-family: 'APL387';src: url('APL387.ttf');}
@font-face {font-family: 'APL385';src: url('APL385.ttf');}
#c{
  position: fixed;
  background: rgba(255,255,255,0.7);
  font-size: 18;
}
* {
  font-weight: unset;
  font-feature-settings: inherit;
}
:has(#APL387:checked) *:not(.x){font-family: 'APL387'!important;}
:has(#APL385:checked) *:not(.x){font-family: 'APL385'!important;}
label{
  left:2em;
}
h1>span {
  float: right;
}
h1>span>a {
  text-decoration: none;
  color: #ea4aaa;
}
body {
  font-size: 125%;
  line-height: 1.2;
}
blockquote {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  font-size: 125%;
}
sup {
  font-size: 50%;
}
textarea {
  width: 100%;
  resize: vertical;
  min-height: 4em;
  font-size: inherit;
  font-family: inherit;
}
#wb {
  display: none;
}
#wb.s {
  display: unset;
}
    